/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toss-container {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 25px;
  font-family: 'Roboto';
}

.heading {
  font-size: 30px;
  color: #a35200;
}

.description {
  font-size: 15px;
  color: #334155;
}

.coin-face {
  height: 100px;
  width: 100px;
}

.toss-button {
  background-color: #f9d423;
  color: #a35200;
  border-width: 0px;
  border-radius: 10px;
  padding: 5px;
}

.count-container {
  display: flex;
  padding: 10px;
  font-family: 'Roboto';
}

.total {
  margin-right: 10px;
  font-weight: 500;
}

.heads {
  font-weight: 500;
}

.tails {
  margin-left: 10px;
  font-weight: 500;
}
